<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Welcome Stranger!</p>
  
    <div class="box">
      If you want to be a part of this awesome community and access much much more content, sign up!
    </div>
  </nav>
</div>