<div class="column">
  <nav class="panel">
    <p class="panel-heading">Suggested Posts</p>
  </nav>
  <a class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is 32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Post title</strong><br />
            <% if user_signed_in? %><small>Author 1</small><% end %>
          </p>
        </div>
      </div>
    </article>
  </a>
  <a class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is 32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Post title</strong><br />
            <% if user_signed_in? %><small>Author 2</small><% end %>
          </p>
        </div>
      </div>
    </article>
  </a>
  <a class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is 32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Post title</strong><br />
            <% if user_signed_in? %><small>Author 3</small><% end %>
          </p>
        </div>
      </div>
    </article>
  </a>
</div>