<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'info-box'%>
      <%= render 'feed' %>
      <%= render 'suggested-posts'%>
    </div>
  </div>
</section>

